<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XmppApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <XmppApplication.Properties.Settings>
            <setting name="UserJid" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="Resource" serializeAs="String">
                <value>XmppApplication</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkHost" serializeAs="String">
                <value/>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EncryptionMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5222</value>
            </setting>
        </XmppApplication.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="jabber-net" publicKeyToken="924C5B18328D6F09" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.553" newVersion="2.0.0.553"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
